.DS_Store
.git-backups/
.vscode/
aws/
awscliv2.zip
debug-despacho-no-registra.md
describe-tasks.sh
schema_despacho.txt
triggers_despacho.txt
autoscaling-policy.json
task-def-ventas.json
*trust-policy.json
*-service.json
*-service-update.json
*-task-def.json
*-taskdef-fix.json
*-task-logs.json
*-task-v4.json
